html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body, ul{
    border:0;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    min-height: 100%;
    background: #333;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(51, 51, 51);
    color: #fff;
    overflow: hidden;
    text-shadow: 0 0 30px rgba(0,0,0,0.1);
    animation: fadeIn 1.2s ease-in;
}
body, input, textarea, select, button { 
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.question , .focusForm, .focusList, .greeting, .centerclock h1
{
    display: none;
}
.showing{
    display: block!important;
    animation: fadeIn 1.7s ease-in;
}
.unshowing{
    display: none!important;
    animation: fadeOut 1.7s ease-in;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

/* Regions */
.center, .top-left, .top-right, .bottom, .bottom-right, .bottom-left, .center-below, .center-above { 
    position: absolute; 
    z-index: 2; 
}

/* Top */
.top {
    display: flex;
}
.top-right{
    position: relative;
    flex: auto;
    flex-direction: row-reverse;
    flex-wrap: wrap; /*항목이 클 경우 여러 행에 걸쳐 배열됨*/
    justify-content: flex-start; /*flex항목 행 내의 항목들은 flex 컨테이너의 시작점에서 부터 정렬된다.*/    
    text-align: right;
}

/* Center */
.center, .center-below, .center-above { 
    display: block; 
    top: 50%; 
    left: 50%; 
    width: 100%; 
    text-align: center; 
}
.center {  
    /*원래의 위치로 부터 이동*/
    -webkit-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); 
    /*transform-origin은 CSS transform 속성과 함께 사용되는 속성으로서, 회전 중심(원점·기준점)을 지정합니다
    50%, 50% => 원점*/
    -webkit-transform-origin: 50% 50%; 
    transform-origin: 50% 50%; 
}
.center-below, .center-above { 
    left: 0; 
    text-align: center; 
}
.center-above { 
    top: 0; 
    z-index: 1; 
}
.center-below { 
    top: 70%;
    z-index: 10; 
}
    
/* Center Clock */
.centerclock { 
    display: inline-block; 
    position: relative; 
    animation: fadeIn 1.2s ease-in;
}
.centerclock h1 { 
    cursor: default; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}
.centerclock h1, .greeting , .introduction, .focus { 
    text-align: center; 
    line-height: 1; 
    padding: 0; 
    margin: 0; 
    color: #fff; 
    letter-spacing: -5px; 
    font-size: 190px; 
    font-weight: initial; 
}
.center .time { 
    margin-top: -60px; 
    font-size: 11em; 
    font-weight: 500; 
}

/* Question Form*/
.question{
    padding-top: 15px;
    padding-bottom: 35px;
}
.question .question-title {
    display: block;
    font-size: 50px; 
    letter-spacing: 0; 
    white-space: nowrap; 
    margin-bottom: 50px;
}
.center .answer{
    display: block;
    font-size: 50px;
    width: 40%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    border: none;
    background:transparent;
    border-bottom: 3px solid #fff;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    color:#fff!important;
}
.question .answer:focus{
    outline:none;
}

/* Greeting */
.center .greeting { 
    margin-top: -2px; 
    font-size: 3em; 
    letter-spacing: -0.2px; 
}
.greeting, .introduction, .focus { 
    font-size: 54px; 
    letter-spacing: 0; 
    white-space: nowrap; 
}
.greeting .name { 
   display: inline-block; 
    max-width: 15em; 
    margin: -5px 0; 
    padding: 5px 0; 
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
    cursor: default; 
    outline: none; 
    overflow: hidden; 
    -webkit-user-select: none; 
    user-select: none; 
    vertical-align: top; 
}
.greeting .editing { 
    min-width: 1.5em; 
    margin-bottom: -8px; 
    border-bottom: 3px solid #fff; 
    cursor: auto; 
}




/* FOCUSFORM */
.focusForm{
    display:flex;
    justify-content: center;
    min-height: 100px;
}
.focusForm-title{
    font-size: 2.7em; 
}
.center-below .prompt{
    display: inline-block;

}
.center-below input{
    display: block;
    font-size: 35px;
    min-width: 100px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    border: none;
    background:transparent;
    border-bottom: 2px solid #fff;
    line-height: normal;
    overflow: hidden;
    text-align: center;
    color:#fff!important;
}
.center-below input:focus{
    outline:none;
}

/* Background */
.background li {
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    animation: fadeIn 1.2s ease-in;
}
.background, .background li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}